---
http_interactions:
- request:
    method: get
    uri: https://api.ticksy.com/v1/test_domain/test_api_key/tickets-updated-after.json/1499653800
  response:
    status:
      code: 200
      message: OK
    body:
      encoding: UTF-8
      string: "{\"tickets-updated-after\":[{\"ticket_id\":\"1\",\"time_stamp\":\"2017-07-10  12:08:10\",\"user_id\":\"1\",\"assigned_to\":\"1\",\"category_id\":\"1\",\"ticket_type\":\"private\",\"status\":\"open\",\"starred\":null,\"ticket_title\":\"Updated Ticket Title\",\"related_url\":\"http:\\/\\/example.com\",\"needs_response\":\"1\"}]}"
  recorded_at: Mon, 10 Jul 2017 03:19:59 GMT
recorded_with: VCR 3.0.3
