---
http_interactions:
- request:
    method: get
    uri: https://api.ticksy.com/v1/test_domain/test_api_key/ticket.json/123456
  response:
    status:
      code: 200
      message: OK
    body:
      encoding: UTF-8
      string: "{\"ticket-data\":{\"ticket_id\":\"123456\",\"time_stamp\":\"2015-06-17 12:08:10\",\"user_id\":\"1\",\"assigned_to\":\"1\",\"category_id\":\"1\",\"ticket_type\":\"private\",\"status\":\"open\",\"starred\":null,\"ticket_title\":\"My Ticket Title\",\"related_url\":\"http:\\/\\/example.com\",\"needs_response\":\"1\"}}"
  recorded_at: Sat, 20 Jun 2015 04:23:15 GMT
recorded_with: VCR 2.9.3
