---
http_interactions:
- request:
    method: get
    uri: https://api.ticksy.com/v1/test_domain/test_api_key/ticket-comments.json/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ms-Author-Via:
      - DAV
    body:
      encoding: UTF-8
      string: "{\"ticket_comments\":{\"0\":{\"comment_id\":\"1\",\"system_id\":\"1\",\"user_id\":\"1\",\"ticket_id\":\"1\",\"comment\":\"Ticket Comment\",\"private\":\"0\",\"time_stamp\":\"2015-03-17 05:39:50\",\"edited_time_stamp\":\"0000-00-00 00:00:00\",\"commenter_name\":\"Mikey\",\"user_type\":\"user\",\"type\":\"comment\",\"likes\":\"0\"}}}"
  recorded_at: Sat, 20 Jun 2015 04:34:12 GMT
recorded_with: VCR 2.9.3
