---
http_interactions:
- request:
    method: get
    uri: https://api.ticksy.com/v1/test_domain/test_api_key/my-tickets.json/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ms-Author-Via:
      - DAV
    body:
      encoding: UTF-8
      string: "{\"my-tickets\":[{\"ticket_id\":\"1\",\"time_stamp\":\"2015-06-17 12:08:10\",\"user_id\":\"1\",\"assigned_to\":\"1\",\"category_id\":\"1\",\"ticket_type\":\"private\",\"status\":\"open\",\"starred\":null,\"ticket_title\":\"My Ticket Title\",\"related_url\":\"http:\\/\\/example.com\",\"needs_response\":\"1\"}]}"
  recorded_at: Sat, 20 Jun 2015 04:10:24 GMT
recorded_with: VCR 2.9.3
